* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 4px;
}

label {
    white-space: nowrap;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

#root {
    height: 100%;
    display: flex;
    width: 60%;
    margin: 0 auto;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.leftPane {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

@media (max-width: 500px) {
    .leftPane {
        display: none;
    }
}

.bigLink {
    color: blue;
    font-size: 20px;
}

.activeBigLink {
    color: black;
}

.contentPane {
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 95vh;
    width: 75%;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

@media (max-width: 500px) {
    #root {
        width: 100%;
        font-size: 0.7em;
    }

    .contentPane {
        width: 95%;
        margin: 0 auto;
    }
}

/* conversations */

#conversationOrderSelect {
    margin: 0 5px 0 5px;
}

#conversationHeader {
    width: 100%;
    /*height: 100px;*/
}

#conversationList {
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -10px;
    overflow-y: scroll;
    border-top: 1px solid black;
    width: 100%;
    /*height: calc(100% - 100px);*/
}

.conversationListing {
    padding: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
}

.conversationName {
    font-size: 16px;
    margin-right: 10px;
    text-decoration: underline;
}

.conversationDate {
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    width: 70px;
}

.conversationImage {
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.infoPageImage {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.conversationInfoIcon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.centeredFlexHeading {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.threeItemHeading {
    width: 100%;
}

.userModule {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.checkboxGroup {
    white-space: nowrap;
    display: inline-block;
    margin-top: 10px;
    align-items: center;
}

[type="checkbox"] {
    margin: 0 5px;
}

.infoPageLinks {
    display: inline;
    line-height: 20px;
    text-decoration: underline;
    white-space: nowrap;
}

.statsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.statsContainer {
    width: 20%;
    text-align: center;
}

.notesEntry {
    display: block;
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

.metaInfoContainer {
    width: 90%;
    min-height: 100px;
    overflow-y: scroll;
    line-height: 1.3em;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

/* messages */

#messagesPane {
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

/* general */

.verticalLine {
    width: 1px;
    height: 85%;
    background-color: black;
}

.smallButton {
    text-decoration: underline;
    cursor: pointer;
}

.rowToColumn {
    flex-direction: row;
}

.smallMedia {
    height: 200px;
    max-width: 95%;
    display: block;
}

@media (max-width: 500px) {
    .rowToColumn {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .noMobile {
        display: none;
    }
}

@media (min-width: 500px) {
    .onlyMobile {
        display: none;
    }
}