* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

label {
    white-space: nowrap;
    flex-wrap: nowrap;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

#root {
    height: 100%;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.leftPane {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

@media (max-width: 500px) {
    .leftPane {
        display: none;
    }
}

.bigLink {
    color: blue;
    font-size: 20px;
}

.activeBigLink {
    color: black;
}

.contentPane {
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 100%;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    position: relative;
}

@media (min-width: 500px) {
    .contentPane {
        margin: 10px auto;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 0.7em;
    }

    .contentPane {
        border-width: 0px;
    }
}

/* conversations */

.timeField {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeField:not(:last-child) {
    margin-right: 5px;
}

.timeField>input,
.timeField>select {
    height: 20px;
}

#conversationOrderSelect {
    margin: 0 5px 0 5px;
}

#conversationListHeader {
    width: 100%;
}

#conversationListHeader h1 {
    margin-right: 10px;
}

@media (max-width: 500px) {
    #conversationListHeader h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#conversationList {
    margin-top: 10px;
    margin-left: -12px;
    margin-right: -10px;
    overflow-y: scroll;
    border-top: 1px solid black;
    width: 100%;
    height: 100%;
}

.conversationListing {
    padding: 10px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
}

.conversationName {
    font-size: 16px;
    margin-right: 10px;
    text-decoration: underline;
}

.conversationDate {
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    width: 70px;
}

.conversationImage {
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.infoPageImage {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.conversationInfoIcon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.centeredFlexHeading {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 500px) {
    .centeredFlexHeading {
        justify-content: center;
    }
}

.threeItemHeading {
    width: 100%;
}

.userModule {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.checkboxGroup {
    white-space: nowrap;
    display: inline-block;
    margin-top: 10px;
    align-items: center;
}

[type="checkbox"] {
    margin: 0 5px;
}

.infoPageLinks {
    display: inline;
    line-height: 20px;
    text-decoration: underline;
    white-space: nowrap;
}

.statsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.statsContainer {
    width: 20%;
    text-align: center;
}

.notesEntry {
    display: block;
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

.metaInfoContainer {
    width: 90%;
    min-height: 100px;
    overflow-y: scroll;
    line-height: 1.3em;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

/* messages */

#messagesPane {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#messagesPaneHeader {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    #messagesPaneHeader {
        margin-top: 10px;
    }
}

.messageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-wrap: break-word;
}

.messageContainer:first-child {
    margin-top: 10px;
}

.marginedMessage {
    margin-bottom: 15px;
}

.messageContainer:not(.marginedMessage) {
    margin-bottom: 2px;
}

.messageText {
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    max-width: 70%;
    cursor: default;
}

@media (min-width: 500px) {
    .messageAttribution {
        font-size: small;
    }
}

@media (max-width: 500px) {
    .messageText {
        font-size: 1.2rem;
    }
}

/* general */

.searchBar {
    width: 100%;
    height: 30px;
    display: flex;
    flex-shrink: 0;
    margin-top: auto;
}

.searchBar button {
    background: linear-gradient(#fff, #ddd);
    border: 1px solid #999;
}

.homeButton {
    width: 30px;
    padding: 0;
    flex-shrink: 0;
}

@media (max-width: 500px) {
    .searchBar {
        height: 40px;
        font-size: 1.35rem;
        margin-bottom: -10px;
        width: calc(100% + 20px);
    }

    .homeButton {
        width: 40px;
    }
}

.centeredModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: solid black 1px;
    border-radius: 3px;
    padding: 4px;
    width: 70%;
}

.centeredModal>* {
    margin-bottom: 10px;
}

.modalBackdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff99;
}

.verticalLine {
    width: 1px;
    height: 85%;
    background-color: black;
}

.smallButton {
    text-decoration: underline;
    cursor: pointer;
}

.rowToColumn {
    flex-direction: row;
}

.smallMedia {
    max-height: 400px;
    max-width: 90%;
    display: block;
}

@media (max-width: 500px) {
    .rowToColumn {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .noMobile {
        display: none;
    }
}

@media (min-width: 500px) {
    .onlyMobile {
        display: none;
    }
}

/* loading spinner from loading.io */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}