[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
coverage = "*"

[packages]
ijson = "*"
tornado = "*"
pip = "*"
pytest-asyncio = "*"
pdoc3 = "*"

[requires]
python_version = "3.9"
